.scheduleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-3);
  margin-top: var(--spacing-5);

  .scheduleDate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-6) var(--spacing-4);
    background: rgb(254, 243, 20);
    background: linear-gradient(
      125deg,
      rgba(254, 243, 20, 1) 0%,
      rgba(238, 50, 53, 1) 44%,
      rgba(238, 50, 53, 1) 100%
    );
    color: var(--neutral-color);
    border-radius: var(--radius-medium);
    font-weight: 600;
    height: 100%;
    white-space: nowrap;
  }

  .scheduleInfoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-2);

    .scheduleInfoItem {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-content: center;
      gap: var(--spacing-5);
      border: 0.5px solid var(--gray-scale-4);
      padding: var(--spacing-3);
      border-radius: var(--radius-medium);
      width: 100%;

      p {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-2);
      }
    }
  }
}
